{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
 <!-- Include Select2 CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha384-GLhlTQ8iM4jQqR8r+cktRTt8Zp1eklHfEAg/8mtP1wwj1z9EGg6S5q6Z1PI5piJ6" crossorigin="anonymous">

<!-- Include jQuery (Select2 requires it) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-/KJ5oZqUeaOr5b+6S6Zkzep5l+M5R2T/W8C86gN7rqlTzq/WW6C+0cu1hKj2ktWZ" crossorigin="anonymous"></script>

<!-- Include Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha384-GLhlTQ8iM4jQqR8r+cktRTt8Zp1eklHfEAg/8mtP1wwj1z9EGg6S5q6Z1PI5piJ6" crossorigin="anonymous"></script>

<style>
    .form-control {
        border: 2px solid #FFD6D7;
        transition: border-color 0.3s;
    }

    .form-control:focus {
        border-color: #ffffff;
    }

    #toPayRadio {
        accent-color: red;
    }

    #toReceiveRadio {
        accent-color: green;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 38px;
        height: 22px;
    }

  
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 3px;
        bottom: 5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(18px);
    }

    .custom-width {
    width: 300px !important;
    /* Add other styles as needed */
  }
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .save-button {
        background-color: #007bff;
        border-color: #007bff; 
        color: #fff; 
        margin-right: 1rem;
    }

    td{
    border-right: 1px solid rgb(12, 12, 12);
  }
  th{
    width: 300px;
  }

  tbody:hover td:not(:last-child){
    border-right: 1px solid #68020F;
  }
    .save-button:hover {
        background-color: #fff;
        color: #007bff;
    }
    input{
    background-color: black;
    color: white;
  }

  .bs {
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);
  }

  .bs_sm {
    box-shadow: inset 2px 2px 5px 3px rgba(0, 0, 0, 0.199);
  }

  .tb {
    color: black;
  }

  .tg {
    color: rgb(0, 140, 7);
  }

  .tr {
    color: rgb(218, 0, 0);
  }

  .btn_add {
    background-color: orange;
    color: black;
  }

  .btn_add:hover {
    background-color: rgb(234, 152, 0);
    color: black;
  }

  ::-webkit-scrollbar {
    display: none
  }
  select option:hover{
    background-color: black;
  }

  input[type="radio"]:checked{
    accent-color: #68020F;
  }

  .input_border{
    border: 1px solid #68020F;
  }

  .button_border{
    border: 1px solid #68020F;
    color: #68020F;
  }

  .button_border:hover{
    background-color:#68020F;
    color: white;
  }
</style>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<div class="body-wrapper">

    <div class="container-fluid">
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="mb-4">DEBIT NOTE</h1>
     
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div style="border: 1px solid #000; padding: 10px; margin: 10px 0; background-color: #f8f9fa; color: #000; {% if message.tags == 'success' %}background-color: #d4edda; border-color: #c3e6cb; color: #155724;{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
            <div class="row">

                <div class="col-md-6">
                    <!-- Left side of the form -->

                  
                    <div class="form-group">
                        <label for="party">Party</label>
                        <div class="input-group">
                            <select name="party" id="party" class="form-control" style="width: 450px">
                                <option value="">-- Select/Search Party --</option>
                                {% for party in parties %}
                                    <option value="{{ party.id }}" 
                                        data-contact="{{ party.contact }}" 
                                        data-address="{{ party.address }}" 
                                        data-openingbalance="{{ party.openingbalance }}"
                                        data-billno="{{ party.bill.billno }}"
                                        data-billdate="{{ party.bill.billdate }}">
                                        {{ party.party_name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" style="background-color: maroon;" data-toggle="modal" data-target="#createPartyModal">+</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="available_balance">Available Balance</label>
                        <input type="text" class="form-control" value="{% if selected_party %}{{ selected_party.openingbalance }}{% endif %}" readonly id="available_balance">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="contact_number">Contact Number</label>
                        <input type="text" class="form-control" value="{% if selected_party %}{{ selected_party.contact }}{% endif %}" readonly id="contact_number">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" value="{% if selected_party %}{{ selected_party.address }}{% endif %}" readonly id="address">
                    </div>
                 
                </div>
                <div class="col-md-6">
                    <!-- Right side of the form -->
                    <div class="form-group">
                        <label for="return_no">Return No.</label>
                        <input type="text" class="form-control" id="return_no" name="return_no" value="" >
                        <span id="return-no-message" style="color: red;"></span>
                    </div>
              
                
                    <br>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="current-date" value="">
                    </div>
                    <br>
                    <!-- <div class="form-group">
                        <label for="bill">Select Bill:</label>
                        <select id="bill" name="bill">
                            {% for bill in bills %}
                                <option value="{{ bill.id }}">{{ bill.bill_no }} - {{ bill.billdate }}</option>
                            {% endfor %}
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label for="bill">Select Bill</label>
                        {% if selected_party.bills.exists %}
                            <select id="bill" name="bill">
                                {% for bill in selected_party.bills.all %}
                                    <option value="{{ bill.id }}">{{ bill.bill_no }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input type="text" class="form-control" value="No bills available for the selected party.">
                        {% endif %}
                    </div>
                 <br>
                 <div class="form-group">
                    <label for="billdate">Bill Date</label>
                    <input type="text" class="form-control" value="{{ selected_party.bills.first.billdate }}">
                </div>
                </div>
                <br><br><br>
                <div style="overflow-x:auto;">  
                    <table class="table table-hover  mt-5 " style="background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <thead style="background: #68020F;">
                          <tr class="text-center text-light">
                            <th scope="col"class="custom-width" style="border-right: 1px solid;"><b>#</b></th>
                            <th scope="col" style="border-right: 1px solid;"><b>PRODUCT</b></th>
                            <th scope="col" style="border-right: 1px solid;"><b>HSN</b></th>
                            <th scope="col" style="border-right: 1px solid;"><b>QTY</b></th>
                            <th scope="col" style="border-right: 1px solid;"><b>PRICE</b></th>
                            <th scope="col" style="border-right: 1px solid;"><b>TAX(%)</b></th>
                            <th scope="col" style="border-right: 1px solid;"><b>DISCOUNT</b></th>
                            <th scope="col" style="border-right: 1px solid;"><b>TOTAL</b></th>
                            <th scope="col" ><b>ACTION</th>
                            </tr>
                        </thead>
                     
                   
                        <tr style="background-color: #FFADB0;">
                            <td style="color: black;">{{ forloop.counter0|add:1 }}</td>
                            <td style="width: 140px;">
                                <select name="selected_item[]" onchange="fillItemDetails(this)" style="width: 120px;">
                                    <option value="">Select Product</option>
                                    {% for item in items %}
                                    
                                        <option value="{{ item.id }}" data-hsn="{{ item.itm_hsn }}" data-price="{{ item.itm_purchase_price }}" data-tax="{{ item.itm_taxable }}">{{ item.itm_name }}</option>
                                    {% endfor %}
                                </select>
                                &nbsp;&nbsp;&nbsp;
                                <a href="{% url 'item_create1' %}" class="btn btn-outline-secondary" style="background-color: maroon; height: 22px; float: right; width: 27px; text-align: center; padding: 1px; position: absolute;"><b>+</b></a>
                            </td>
                            <td><span id="hsn"></span></td>
                            <td><input type="number" name="item_quantity[]" class="form-control" value="" oninput="updateTotalAmount(this)"></td>
                            <td><span id="purchasePrice"></span></td>
                            <td><span id="taxable"></span></td>
                            <td><input type="number" name="item_discount[]" class="form-control"></td>
                            <td><input type="number" name="item_total_amount[]" readonly class="form-control"></td>
                            <td><button type="button" onclick="removeRow(this)">Remove</button></td>
                        </tr>
                        
                     
                     
                    </tbody>
                    </table>
                    <!-- + button to add a new row -->
                    <button type="button" onclick="addRow()">+</button>
                </div>
            </div>
                  
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="modal" id="createPartyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 1200px;height: 300px;">
        <div class="modal-content" style="background-color: #FFD6D7;">
            <div class="modal-header">
                <h2 class="modal-title" style="font-size: 2.5rem;"><b>Create New Party</b></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <!-- Form for creating a new party -->
                <form method="POST" action="{% url 'create_party' %}" class="p-10" enctype="multipart/form-data" novalidate
                id="forms" >
                {% csrf_token %}
                <div class="body-wrapper">
                    <div class="container-fluid">
                        <div class="col-md-3">
                            <a class="text-dark" style="font-size: 1.5rem;">Add New Party</a>
                        </div>
                        <div class="col-md-9 row" style="margin-top: 3vw;">
                            <div class="col-md-4">
                                <input type="text" style="background-color: white;" class="form-control" id="partyname" name="partyname" placeholder="Party Name" required>
                            </div>                
                            <div class="col-md-4" style="position: relative;">
                                <input type="text" style="background-color: white;" class="form-control" id="trn_no" name="trn_no" placeholder="TRN NO" oninput="validateGSTIN(this)">
                                <span id="gstno-validation" style="position: absolute; right: 14px; top: 8px;"></span>
                                <label style="color: rgb(101, 3, 3);">* 32AAQFR1222B1ZS</label>
                            </div>
                            
                            <div class="col-md-4" style="position: relative;">
                                <input required type="number" style="background-color: white;" class="form-control" id="contact" pattern="[0-9]{10}" name="contact" placeholder="Phone Number" oninput="validatePhoneNumber(this)">
                                <span id="contact-validation" style="position: absolute; right: 15px; top: 8px;"></span>
                            </div>  
                            
                            
                            <div class="options" style="margin-top: 5vw;">
                                <a href="javascript:void(0);" onclick="toggleSection('GST')" style="color: black;"><b>GST &
                                        Address<b></a>
                                <a href="javascript:void(0);" onclick="toggleSection('Credit')"
                                    style="color: black; margin-left: 3vw;"><b>Credit & Balances<b></a>
                                <a href="javascript:void(0);" onclick="toggleSection('additionalfield')"
                                    style="color: black; margin-left: 3vw;">Additional Fields</a>
                            </div>
                        </div>
                        <fieldset id="GST" class="GST">
                            <div style="background-color: white;" class="col-sm-5"><select class="form-control mt-4 " id="trn_type" name="trn_type">
                                    <option disabled selected>Select TRN Type</option>
                                    <option >Unregistered/Consumers</option>
                                    <option>Registered Business - Regular</option>
                                    <option>Registered Business - Composition</option>
                                </select>
                            </div>
                            <div class="col-sm-5 ">
                                <textarea style="background-color: white;" class="form-control mt-4" name="address" id="" cols="56" rows="3"
                                    placeholder="&nbsp;Address"></textarea>
                            </div>
                    
                            <div class="col-sm-5 ">
                                <input style="background-color: white;" type="text" class="form-control mt-4" id="state" name="state" placeholder="State">
                            </div> 
                            
            
                    
                    <div class="col-sm-5 ">
                        <input style="background-color: white;" type="email" class="form-control mt-4" id="email" name="email" placeholder="Email">
                    </div>
                    </fieldset>
            
                    <fieldset id="Credit" class="Credit" style="display:none;">
                        <div class="col-sm-5">
                            <input style="background-color: white;" type="number" class="form-control mt-4" id="balance" name="balance" placeholder="Opening Balance">
                        </div>
                    
                        <div  class="col-sm-7 mt-4">
                            <label class="radio-label">To Pay</label>
                            <input type="radio" class="radio-input" id="toPayRadio" name="paymentType" value="To Pay" style="margin-right: 2vw; margin-left: 5px;">
                            <label class="radio-label">To Receive</label>
                            <input type="radio" class="radio-input" id="toReceiveRadio" name="paymentType" value="To Receive" style="margin-right: 2vw; margin-left: 5px;">
                        </div>
                    
                       
                    
                        <div class="col-md-5 mt-4">
                            <input type="date" class="form-control" id="current-date1" name="currentdate" placeholder="Current Date" style="background-color: white;">
                        </div>
                    
            
                    </fieldset>
                    
                    <fieldset id="additionalfield" class="additionalfield" style="display:none;">
                        <div class="col-md-5 mt-4">
                            <input type="text" class="form-control" name="additionalfield1" id="additionalfield1" placeholder="Additional Field" style="background-color: white;">
                        </div>
                
                        <div class="col-md-5 mt-4">
                            <input type="text" class="form-control" name="additionalfield2" id="additionalfield2" placeholder="Additional Field" style="background-color: white;">
                        </div>
                
                        <div class="col-md-5 mt-4">
                            <input type="text" class="form-control" name="additionalfield3" id="additionalfield3" placeholder="Additional Field" style="background-color: white;">
                        </div>
                    </fieldset>
            
                   
                    <div class="col-md-5 mt-4">
                        <input type="submit" class="btn btn-primary save-button" name="save_and_new" value="Save&New">
                        <input type="submit" class="btn btn-primary save-button" name="save" value="Save">
                    </div>
            
                </div>
                </form>
                </div>
                


          












                <script>
                    function toggleSection(sectionId) {
                        // Get all the fieldsets
                        const fieldsets = document.querySelectorAll('fieldset');
            
                        // Hide all fieldsets
                        fieldsets.forEach(fieldset => {
                            fieldset.style.display = 'none';
                        });
            
                        // Show the selected fieldset
                        const section = document.getElementById(sectionId);
                        if (section.style.display === 'none') {
                            section.style.display = 'block';
                        } else {
                            section.style.display = 'none';
                        }
                    }
            
            
                // Function to format the date as "YYYY-MM-DD"
                function formatDate(date) {
                    const year = date.getFullYear();
                    const month = (date.getMonth() + 1).toString().padStart(2, '0');
                    const day = date.getDate().toString().padStart(2, '0');
                    return `${year}-${month}-${day}`;
                }
            
             
    // Get the current date
    let currentDate = new Date();

    // Format the date to 'YYYY-MM-DD'
    let formattedDate = currentDate.toISOString().split('T')[0];

    // Set the formatted date as the default value for the input field
    document.getElementById('current-date1').value = formattedDate;
  
            function validatePhoneNumber(inputElement) {
                const phoneNumber = inputElement.value;
                const validationSpan = document.getElementById("contact-validation");
            
                // Regular expression to check for a 10-digit number
                const regex = /^[0-9]{10}$/;
            
                if (regex.test(phoneNumber)) {
                    // Valid 10-digit number, display a checkmark
                    validationSpan.innerHTML = "&#10004;"; // Checkmark symbol
                    validationSpan.style.color = "green";
                } else {
                    // Not a valid 10-digit number, display a cross mark
                    validationSpan.innerHTML = "&#10060;"; // Cross mark symbol
                    validationSpan.style.color = "red";
                }
            }
            
            function validateGSTIN(inputElement) {
                const gstin = inputElement.value;
                const validationSpan = document.getElementById("gstno-validation");
            
                // Regular expression to check for a valid GSTIN pattern
                const regex = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z][0-9][A-Z][A-Z0-9]$/;
            
                if (regex.test(gstin)) {
                    // Valid GSTIN format, display a checkmark
                    validationSpan.innerHTML = "&#10004;"; // Checkmark symbol
                    validationSpan.style.color = "green";
                } else {
                    // Not a valid GSTIN format, display a cross mark
                    validationSpan.innerHTML = "&#10060;"; // Cross mark symbol
                    validationSpan.style.color = "red";
                }
            }
            
            </script>
            <script>
                // Function to format the date as "YYYY-MM-DD"
                function formatDate(date) {
                    const year = date.getFullYear();
                    const month = (date.getMonth() + 1).toString().padStart(2, '0');
                    const day = date.getDate().toString().padStart(2, '0');
                    return `${year}-${month}-${day}`;
                }
            
                // Get the current date
                const currentDateInput = document.getElementById("current-date");
                currentDate = new Date();
            
                // Format the date as "YYYY-MM-DD" and set it in the input field
                currentDateInput.value = formatDate(currentDate);
            </script>
        <script>
            $(document).ready(function () {
                // Handle change event when a party is selected
                $('#party').change(function () {
                    // Get the selected party option
                    var selectedOption = $(this).find(':selected');
        
                    // Update the input fields with the data attributes of the selected party
                    $('#contact_number').val(selectedOption.data('contact'));
                    $('#address').val(selectedOption.data('address'));
                    $('#available_balance').val(selectedOption.data('openingbalance'));
                });
            });
        </script>
        <script>
            
    // Function to format the date as "YYYY-MM-DD"
    function formatDate(date) {
        const year = date.getFullYear();
        const month = (date.getMonth() + 1).toString().padStart(2, '0');
        const day = date.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

            const currentDateInput = document.getElementById("current-date");
            currentDate = new Date();
        
            // Format the date as "YYYY-MM-DD" and set it in the input field
            currentDateInput.value = formatDate(currentDate);
        </script>
            
       </div>
   </div>

<script>
    $(document).ready(function () {
        // Get the initial pattern
        var initialPattern = /^JK\d+$/i;

        // Listen for changes in the "Return No." field
        $('#return_no').change(function () {
            // Get the entered return number
            var returnNo = $(this).val();

            // Check if the pattern is followed (e.g., JK1, JK2, JK3, ...)
            if (!initialPattern.test(returnNo)) {
                // Display a confirmation message
                var confirmed = confirm('Changing the pattern will reset the return number. Are you sure you want to change the pattern?');

                if (!confirmed) {
                    // Revert to the previous value
                    $(this).val('');
                    return;
                }

                // Update the initial pattern if confirmed
                initialPattern = new RegExp("^" + returnNo + "$", "i");
            }

            // Check if the pattern is followed (e.g., JK1, JK2, JK3, ...)
            if (!initialPattern.test(returnNo)) {
                // Display an error message
                $('#return-no-message').text('Return No. should follow the pattern JK1, JK2, JK3, ...');
            } else {
                // Clear the error message
                $('#return-no-message').text('');

                // You can perform additional logic if needed
            }
        });

        // Automatically generate and set the initial return number on form load
        var lastReturnNo = getLastReturnNo(); // You need to implement this function
        var newReturnNo = generateNextReturnNo(lastReturnNo);
        $('#return_no').val(newReturnNo);
    });

    // Function to get the last return number from the database or any other source
    function getLastReturnNo() {
        // Implement logic to get the last return number
        // For now, let's assume it returns the last stored return number
        return "JK2";
    }

    // Function to generate the next return number based on the last return number
    function generateNextReturnNo(lastReturnNo) {
        var match = lastReturnNo.match(/(\D+)(\d+)/);
        var prefix = match[1];
        var number = parseInt(match[2]);
        return prefix + (number + 1);
    }
</script>
<script>
    $(document).ready(function () {
        // Handle change event when a party is selected
        $('#party').change(function () {
            // Get the selected party option
            var selectedOption = $(this).find(':selected');

            // Check if the selected party has an associated bill
            if (selectedOption.val() !== '' && selectedOption.text() !== 'No bills available for the selected party.') {
                // Get the bill number from the selected option's value
                var billNumber = selectedOption.val();

                // Autofill the bill number field
                $('#bill').val(billNumber);

                // Assuming you want to get the bill date from another source
                var billDate = getBillDateForBillNumber(billNumber);

                // Autofill the bill date field
                $('#bill_date').val(billDate);
            } else {
                // Clear the fields if no associated bill
                $('#bill').val('');
                $('#bill_date').val('');
            }
        });
    });

    // Function to get the bill date based on the bill number (you need to implement this)
    function getBillDateForBillNumber(billNumber) {
        // Implement logic to get the bill date based on the bill number
        // For now, let's assume it returns the bill date
        return "2024-01-17";
    }
</script>
<script>
    $(document).ready(function() {
        $('#party').select2({
            width: '450px',
            placeholder: '-- Select/Search Party --',
            allowClear: true // Adds a clear button to the dropdown
        });
    });
</script>
<script>
    function fillItemDetails(dropdown) {
        var selectedOption = dropdown.options[dropdown.selectedIndex];
        document.getElementById("hsn").innerHTML = selectedOption.getAttribute("data-hsn");
        document.getElementById("purchasePrice").innerHTML = selectedOption.getAttribute("data-price");
        document.getElementById("taxable").innerHTML = selectedOption.getAttribute("data-tax");
    }


  function updateTotalAmount(inputElement) {
    // Get the parent row
    var row = inputElement.closest('tr');

    // Get the quantity, price, and discount values
    var quantity = parseFloat(row.querySelector('[name="item_quantity[]"]').value) || 0;
    var price = parseFloat(row.querySelector('[name="item_price[]"]').value) || 0;
    var discount = parseFloat(row.querySelector('[name="item_discount[]"]').value) || 0;

    // Calculate the total amount
    var totalAmount = (quantity * price) - discount;

    // Update the total amount input field
    row.querySelector('[name="item_total_amount[]"]').value = totalAmount.toFixed(2);
  }
</script>
<script>
$(document).ready(function () {
    $('#item_tax_1').on('click', function () {
      $('#vatdiv').attr('hidden', false);
      $('#vat').val('VAT 5%');
      $('#taxable_result').val('Taxable');
    });
  
    $('#item_tax_2').on('click', function () {
      $('#vatdiv').attr('hidden', false);
      $('#vat').val('VAT 0%');
      $('#taxable_result').val('Non Taxable');
    });
  });
</script>

            </body>
            
{% endblock %}